<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>chapter03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>myServlet</servlet-name>
  	<servlet-class>chapter03.MyFirstServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>myServlet</servlet-name>
  	<url-pattern>/First</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>user_name</param-name>
  	<param-value>홍길도</param-value>
  </context-param>
 
 <context-param>
 	<param-name>user_company</param-name>
 	<param-value>한국주식회사</param-value>
 </context-param>
 
 <context-param>
  	<param-name>user_name</param-name>
  	<param-value>이상진</param-value>
  </context-param>
 
 <context-param>
 	<param-name>user_company</param-name>
 	<param-value>빅데이터전문가</param-value>
 </context-param>
</web-app>